<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://sql2.freesqldatabase.com:3306/sql286590</property>
        <property name="hibernate.connection.username">sql286590</property>
        <property name="hibernate.connection.password">jX1*xJ7*</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wishlist</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>-->

        
        <mapping class ="table.User" />
        <mapping class ="table.Item" />
        <mapping class ="table.Reserve" />


    </session-factory>
</hibernate-configuration>
